html {
    color-scheme: dark;
}

.list{
    list-style: none;}
article{
    border: solid ;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    height: 100px;
}
.price{
    padding: 15px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    display: flex;
    align-items: center;
}
