main {
    padding: 2rem;
}

main>img {
    width: 100%;
    border: 1px solid white;
    
}

#prix {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 1rem;
    margin: 0;
}

#brand {
    padding: 1rem;
}

#prix>h2 {
    font-size: large;
}


#description {
    padding: 1rem;
}

#description>p {
   
}

#category {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid;
    width: 100%;
}

#button {
    border: 1px solid ;
    padding: 1rem;
    text-align: center;
    width: 350px;
}

#bloc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

/* Les etoiles */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
